<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs246.superiorscheduling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AttachCompanyActivity" />
        <activity android:name=".view.SignUpActivity" />
        <activity android:name=".view.EmployeeView"></activity>
        <activity android:name=".view.AccountManagerView" />
        <activity android:name=".view.ScheduleEditorView" />
        <activity android:name=".view.EmployerView" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>